/* Main Page */
#main-page-heading {
    color: black;
    text-align: center;
    text-decoration: underline;
}
#main-page-hamburger {
    color: black;
    font-weight: bold;
}
#main-page-yakisoba {
    color: black;
}
#main-page-steak {
    color: black;
}
/*Hamburger Page */
#hamburger-page-heading {
    color: black;
    font-weight: bold;
}

/* Steak Page */

/* Yakisoba Page */


/* General */
.heading {
    background-color: aqua;
    text-align: center;
    text-decoration: underline;
}
.background {
    background-color: rgb(97, 212, 30);
}
.Ingredients {
    background-color: aqua;
    text-decoration: underline;
}
.Optional {
    background-color: yellow;
    text-decoration: underline;
}
.Steps {
    background-color: aqua;
    text-decoration: underline;
}

